[data-spoiler-trigger] {

    & + * {
        display: none;
    }
}

.fi-faq-content-shortcode__question {
    position: relative;
    padding: 14px 30px 14px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(227,226,226,.6)
}

.fi-faq-content-shortcode__question:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.2765 0.959723C1.65895 0.782354 2.11068 0.853766 2.41977 1.14046L5.88688 4.35633C6.51454 4.9385 7.48483 4.9385 8.11248 4.35633L11.5796 1.14046C11.8887 0.853766 12.3404 0.782354 12.7229 0.959723C13.3928 1.2704 13.5336 2.16125 12.9922 2.66342L8.11248 7.18952C7.48483 7.77169 6.51454 7.77169 5.88688 7.18952L1.00717 2.66342C0.465769 2.16125 0.6066 1.2704 1.2765 0.959723Z' fill='%231C2642'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100%,center
}

.fi-faq-content-shortcode__question.active {
    border-bottom: 1px solid transparent
}

.fi-faq-content-shortcode__question.active:after {
    background-position: 0%,center;
    transform: rotate(180deg)
}

.fi-faq-content-shortcode__question h3,.fi-faq-content-shortcode__question h4,.fi-faq-content-shortcode__question h5,.fi-faq-content-shortcode__question h6 {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: #1C2642;
    font-weight: 700
}

.fi-faq-content-shortcode__answer {
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(227,226,226,.6)
}

.fi-faq-content-shortcode__answer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2E364E
}

.fi-faq-content-shortcode__answer>p {
    margin-bottom: 0
}

.fi-faq-content-shortcode:first-of-type .fi-faq-content-shortcode__question {
    border-top: 1px solid rgba(227,226,226,.6);
    border-radius: 0
}

.fi-faq-container {
    margin-bottom: 30px
}

@media only screen and (max-width: 991px) {
    .fi-faq-content-shortcode__question {
        padding-right:46px
    }

    .fi-faq-content-shortcode__answer {
        margin-bottom: 10px;
        padding-bottom: 15px
    }
}
